<p><%= notice %></p>
<p><%= alert %></p>

<% if user_signed_in? %>
	<%= render partial: "anuncios/form", locals: { anuncio: anuncio, marcas: marcas } %>
<% end %>

<table>
	<tr>
		<th>Modelo</th>
		<th>Ano</th>
		<th>Valor</th>
		<th>Marca</th>
		<th>Descrição</th>
		<th>Anunciante</th>
	</tr>
	<%= render @anuncios %>
</table>
